body{
	max-width: 100%;
	text-align: center;
	background: wheat;
	
}
nav{
	
	background: blue;
	text-align: center;
	padding: 10px;
}
td{
	padding-left: 50px
}
td,a{
	color: white;
	text-decoration: none;
}

head,body,nav,table,article,footer{
	display: block;
}
td{
	color: violet;
}
#container{
	text-align: left;
	width: 1200px;
	border:1px solid black;
	border-radius: 4px;
	margin: 5px auto;

}

h2{
	
	text-align: center;
}
article{
	text-align: justify;
	float: left;
	
}



#thefooter{
	clear: both;
	background: #000000;
	color: white;
	text-align: center;
	
}
#pics{
	width: 500px;
	height: 380px;
	opacity: 0.8;

}