body{
	max-width: 100%;
	text-align: center;
	
	
}
nav{
	
	background: blue;
	text-align: center;
	padding: 10px;
}
td{
	padding-left: 50px
}
td,a{
	color: white;
	text-decoration: none;
}

head,body,nav,table,article,aside,footer{
	display: block;
}
#container{
	text-align: left;
	width: 1200px;
	max-height: 900px;
	border:1px solid black;
	border-radius: 4px;
	margin: 5px auto;

}
article{
	max-width: 750px;
	text-align: justify;
	float: left;
	padding-right: 30px;
}
#atimg{
	width: 750px;
	height:500px;
}
#sidebar{
	float: left;
	text-align: center;
	padding-left: 10px;
	border-left:1px solid grey;
	background:powderblue;
}
#newd{
	width: 400px;
	height: 400px;
	opacity: 0.4;

}
#thefooter{
	clear: both;
	background: #000000;
	color: white;
	text-align: center;
}
#pics{
	width: 300px;
	height: 380px;
}